{% extends "base_dashboard.html" %}
{% block title %}{{ action }} Officer{% endblock %}
{% block content %}
<div class="card p-4"><h1 class="h4 mb-3">{{ action }} Officer</h1><form method="post">{{ form.hidden_tag() }}<div class="row g-3">{% for field in [form.full_name, form.email, form.phone, form.password] %}<div class="col-md-6">{{ field.label(class="form-label") }}{{ field(class="form-control") }}</div>{% endfor %}<div class="col-12 form-check ms-2">{{ form.is_active(class="form-check-input") }}{{ form.is_active.label(class="form-check-label") }}</div></div>{{ form.submit(class="btn btn-primary mt-4") }}</form></div>
{% endblock %}
