{% extends "base_dashboard.html" %}
{% from "components/macros.html" import form_field, empty_state, table_header with context %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="page-header mb-4">
  <h1 class="h3">Change Password</h1>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card p-4 shadow-sm border-0">
      <form autocomplete="off" method="post">
        {{ form.hidden_tag() }}
        {% for field in [form.current_password, form.new_password, form.confirm_password] %}
          {{ form_field(field, is_floating=true) }}
        {% endfor %}
        <div class="d-flex mt-4 gap-2">
          {{ form.submit(class="btn btn-primary px-4") }}
          <a href="{{ url_for('citizen.profile') }}" class="btn btn-light">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
