{% extends "base_dashboard.html" %}
{% from "components/macros.html" import form_field, empty_state, table_header with context %}
{% block title %}Submit Complaint{% endblock %}
{% block content %}
<div class="page-header mb-4 d-flex justify-content-between align-items-center">
  <h1 class="h3 mb-0">Submit Complaint</h1>
  <a href="{{ url_for('citizen.complaint_history') }}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-arrow-left"></i> My Complaints</a>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="card p-4 shadow-sm border-0">
      <form autocomplete="off" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row g-3">
          <div class="col-12">
            {{ form_field(form.title, is_floating=true) }}
          </div>
          <div class="col-12">
            {{ form_field(form.description, is_floating=false) }}
          </div>
          <div class="col-md-6">
            {{ form_field(form.category_id, is_floating=false) }}
          </div>
          <div class="col-md-6">
            {{ form_field(form.ward_id, is_floating=false) }}
          </div>
          <div class="col-md-6">
            {{ form_field(form.priority, is_floating=false) }}
          </div>
          <div class="col-md-6">
            {{ form_field(form.location, is_floating=true) }}
          </div>
          <div class="col-12">
            {{ form_field(form.before_image, is_floating=false) }}
          </div>
        </div>
        <div class="mt-4 pt-3 border-top">
          {{ form.submit(class="btn btn-primary px-4") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
